/* Delish Website CSS */


/* CSS Font Family */
/*
font-family: 'Chewy', cursive;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Rokkitt', serif;
font-family: 'Shadows Into Light Two', cursive;
*/
/* Body */
body {
  margin: 0;
}

h1 {
  font-family: 'Chewy', cursive;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* The navigation bar */
.navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  height: 30px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  padding-right: 100px;
}
/* Navbar Image */
.navbar-img {
  width: 30px;
  height: 30px;
}

/* Change background on mouse-over */
.navbar-img a:hover {
  background-color: #5fdde5;
}

/* Banner Image */
