/* Delish Website CSS */


/* CSS Font Family */
/*
font-family: 'Chewy', cursive;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Rokkitt', serif;
font-family: 'Shadows Into Light Two', cursive;
*/
/* Body */

h1 {
  font-family: 'Chewy', cursive;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;


/* Banner */
